
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/fraunces-v10-latin-regular.woff2') format('woff2'),
         url('../fonts/fraunces-v10-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: 
         url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'), 
         url('../fonts/fraunces-v10-latin-900.woff') format('woff'); 
  }

  /* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
         url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), 
         url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    src: 
         url('../fonts/barlow-v5-latin-800.woff2') format('woff2'), 
         url('../fonts/barlow-v5-latin-800.woff') format('woff'); 
  }

  *{
      box-sizing: border-box;
  }

  body{
      margin: 0%;
      padding: 0%;
      /* font-family: 'Barlow' 'calibri'; */
      /* font-family: 'Fraunces' 'calibri'; */
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .container{
      width: 1280px;
      margin: 0 auto;
      padding: 0%;
      padding-bottom: 80px;
      
  }


  .container_small{
      width: 1129px;
      margin: 0 auto;
      padding: 0px;
     
  }

  .site-header{
     

      display: flex;
      align-items: center;
      padding-top: 45px;
      padding-bottom: 45px;
  }


  .site_logo{
      margin-right: auto;
      text-decoration: none;
      
  }

  .header__nav-link{
      margin-left: 30px;
      
      text-decoration: none;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      color: #83888F;

  }

  .header__hero-section{
      margin-bottom: 140px;
      padding-top: 100px;
      padding-bottom: 100px;
      background-image: url(../images/bacground-image-1.jpg);
      background-repeat: no-repeat;
      border-radius: 10px;
  }

  .hero-section__info{
     display: flex;
     flex-direction: column;
     
      width: 493px;
      margin-left: 100px;

  }

  .hero-section__heading{
      margin: 0%;
      margin-bottom: 40px;
      width: 100%;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
  }

  .hero-section__discription{
      margin: 0%;
      margin-bottom: 60px;
      width: 400px;
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }

 
.hero-section__link{
    width: 217px;
    background: #0E8784;
border-radius: 6px;
padding: 12px 23px;
text-align: center;
    text-decoration: none;
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
color: #FEFCF7;

}

/* ============================================section collection==================================================== */

.site-main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ===================================================================================================================== */

.section-collection{
    margin-bottom: 160px;
    padding-top: 100px;
    width: 1129px;
    background-image: url(../images/bacground-our-collection.png);
    background-repeat: no-repeat;
    
}


.collection__list{
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    

}

.collection__list-item{
    padding: 0px 10px;
    width: 255px;
    list-style: none;
}

.list-item__image{
    margin-bottom: 64px;


}

.list-item__heading{
    margin-bottom: 24px;
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #333D4B;
}

.list-item__discription{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;

}

/* ======================================section_choice================================================= */


.section-choice{
    margin-bottom: 350px;
width: 1280px;
height: 577px;
padding-top: 100px;
background-color: #2C343E;
border-radius: 10px;
}


.section-choice__heading{
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
color: #FEFCF7;

}


.section-choice__discription{
    width: 540px;
    margin: 0px auto;
    margin-bottom: 40px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
}


.section-choice__list{
    display: flex;
    justify-content: center;
    padding: 0px;
    list-style: none;
}

.section-choice__list-item{
    margin: 15px;
    padding: 48px;
    width: 350px;
    height: 382px;
    background: #0E8784;
border-radius: 8px;
}

.section-choice__image{
    
    margin-bottom: 55px;
    margin-left: 92px;
    margin-right: 92px;
}

.section-choice__link{
    text-decoration: none;
}

.section-choice__list-item__heading{
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
text-align: center;

color: #FEFCF7;

}


.section-choice__list-item__discription{
    font-family: 'Barlow';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #FEFCF7;

}


/* ===================================HOW IT WORKS================================================================================ */


.section__How-it-works__heading{
    margin-bottom: 80px;
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;

}

.section-How-it-works__line-wrapper{
    display: flex;
    margin-bottom: 65px;
    align-items: center;
    
}

.section-How-it-works__line{
    display: inline-block;
    
    width: 349px;
    height: 1px;
    border: 2px solid #FDD6BA;
}

.section-How-it-works__line-oval{
    display: inline-block;
width: 31px;
height: 31px;
background: #FEFCF7;
border: 2px solid #0E8784;
box-sizing: border-box;
border-radius: 50%;


}

.how-it-works__list{
    padding: 0px;
    display: flex;
   list-style: none;

}

.how-it-works__list-item{
    margin-right: 95px;
    width: 285px;
    height: 335px;

}

.how-it-works__number{
    margin: 0;
    margin-bottom: 38px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.how-it-works__heading{
    margin: 0;
    margin-bottom: 42px;
    width: 200px;
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
}

.hov-it-works__discription{
    margin: 0;
    font-family: 'Barlow';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #333D4B;
}


.hov-it-works__link{
    display: inline-block;
    margin-left: 20px;
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 12px 23px;
    text-decoration: none;
    font-family: Fraunces 9pt;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
background: #0E8784;
border-radius: 6px;

}

/* =======================================footer============================================== */


.site-footer{
     display: flex;
    align-items: center;
    padding: 0px 85px;
    width: 1280px;
    height: 120px;
    background: #2C343E;
}


.site-footer__logo{
    text-decoration: none;
    
    margin-right: 100px;

}

.site-footer__link{
    margin-right: 30px;
    text-decoration: none;
    font-family: 'Barlow';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}

.site-footer__messenjer{
    
    margin-left: 24px;
    text-decoration: none;  
}

.icon_facebook{
    margin-left: auto;
}



